<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="SessionTimeout" value="240"/>
  </appSettings>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=doug;Initial Catalog=mmptrackerdev;User ID=mmptrackerdev;Password=vedrekcartpmm" providerName="System.Data.SqlClient"/>
    <add name="MapDataConnString" connectionString="Data Source=Doug;Initial Catalog=MapData;User ID=MapData;Password=ataDpaM" providerName="System.Data.SqlClient"/>
    <add name="TerraceDataConnString" connectionString="Data Source=doug;Initial Catalog=terloc;Persist Security Info=True;User ID=terloc;Password=colret" providerName="System.Data.SqlClient"/>
    <add name="AspNetConnString" connectionString="Data Source=doug;Initial Catalog=mmptrackerdev;Persist Security Info=True;User ID=mmptrackerdev;Password=vedrekcartpmm" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="massmail.missouri.edu" port="587"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="GISToolsSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://snmpdev.mmptracker.org/GISTools.asmx" binding="basicHttpBinding" bindingConfiguration="GISToolsSoap" contract="GIS.GISToolsSoap" name="GISToolsSoap"/>
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.web>
    <httpRuntime executionTimeout="600"/>
    <sessionState mode="InProc" timeout="240" regenerateExpiredSessionId="true"/>
    <authentication mode="Forms">
      <forms defaultUrl="~/Members/ProjectMgmt.aspx" loginUrl="~/Account/Login.aspx" timeout="240" slidingExpiration="true"/>
    </authentication>
    <compilation debug="false" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Accessibility, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <membership>
      <providers>
        <clear/>
        <!-- Configuration for AspNetSqlMembershipProvider:
                connectionStringName="string"               Name corresponding to the entry in <connectionStrings> section where the connection string for the provider is specified
                maxInvalidPasswordAttempts="int"            The number of failed password attempts, or failed password answer attempts that are allowed before locking out a user's account
                passwordAttemptWindow="int"                 The time window, in minutes, during which failed password attempts and failed password answer attempts are tracked
                enablePasswordRetrieval="[true|false]"      Should the provider support password retrievals
                enablePasswordReset="[true|false]"          Should the provider support password resets
                requiresQuestionAndAnswer="[true|false]"    Should the provider require Q & A
                minRequiredPasswordLength="int"            The minimum password length
                minRequiredNonalphanumericCharacters="int"  The minimum number of non-alphanumeric characters
                applicationName="string"                    Optional string to identity the application: defaults to Application Metabase path
                requiresUniqueEmail="[true|false]"          Should the provider require a unique email to be specified
                passwordFormat="[Clear|Hashed|Encrypted]"   Storage format for the password: Hashed (SHA1), Clear or Encrypted (Triple-DES)
                description="string"                        Description of what the provider does
                -->
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordFormat="Encrypted" applicationName="/Terrace" description="Stores and retrieves membership data from the Microsoft SQL Server database"/>
      </providers>
    </membership>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls/>
    </pages>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/Terrace"/>
      </providers>
      <properties>
        <add name="FirstName"/>
        <add name="LastName"/>
        <add name="DisplayName"/>
      </properties>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear/>
        <add connectionStringName="ApplicationServices" applicationName="/Terrace" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </roleManager>
    <machineKey validationKey="F129B3576BD53E6817833A4C17B9EFEB1A26CA47" decryptionKey="B0B0D2348271238FE7EBBBCD8DE81AFFA9397AF9FBCC39B0" decryption="3DES" validation="SHA1"/>
    <customErrors mode="Off"/>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>